body {
    background-color: tan;
    color: black;
    font-size: 12px;
  } 
  @media screen and (max-width: 1700px) {
    body {
      background-color: blue;
      font-size: 11px;
    }
  }
  @media screen and (max-width: 1500px) {
    body {
      background-color: rgb(37, 37, 49);
      font-size: 9px;
    }
  }
  @media screen and (max-width: 1280px) {
    body {
      background-color: rgb(67, 117, 88);
      font-size: 8px;
    }
  }
  @media screen and (max-width: 1080px) {
    body {
      background-color: rgb(120, 78, 148);
      font-size: 7px;
    }
  }
  @media screen and (max-width: 900px) {
    body {
      background-color: olive;
      color: white;
      font-size: 6px;
    }  
  }
  @media screen and (max-width: 600px) {
    body {
      background-color: rgb(165, 165, 140);
      color: white;
      font-size: 4px;
    }  
  }